
.button{
    background-color: rgba(6, 155, 255, 0.973);
    color: rgb(253, 253, 253);
    font-weight: bolder;
    font-size: 100%;
    border-radius: 1vw;
}
.title{
    text-align: center;
    background-color: rgb(247, 233, 212);
}

.design{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(252, 249, 239);
    width: 97%;
    height: auto;
}
.profil-image{
    height: 300px;
    width: auto;
    border-radius: 10em;
}


.objective{
    margin-top: 3rem;
}

.flex{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.details{
    font-family: Georgia;
    text-align: justify;
    font-size: medium;
    margin: 1rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 4rem;
    column-gap: 5rem;
    justify-content: space-around;
    margin-left: 2rem;
}

.grid-item{
    width: 4000px;
    height: 600px;
    background-color: rgb(253, 243, 216);
    border-radius: 2rem;
}
.project-image{
    width: 100%;
    height: auto;
    border-radius: 2rem 2rem 0 0;
    
}
.project-name{
    text-align: center;

}
.project-detials{
    text-align: justify;
    margin: 1rem;

}
.project-team{
    text-align: center;

}

.Gallery{
    display: flex;
    justify-content: space-around;
    margin: 5rem;
 
}
.photo{
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    height: 250px;
    width: auto;
    gap: 2rem;
}