.title{
    text-align: center;
    background-color: blanchedalmond;
    text-shadow: darkgrey;
   
}
.objective{
    margin-top: 3rem;
}

.flex{
    display: flex;

    justify-content: space-around;
    margin-top: 1rem;
}

.details{
    font-family: Georgia;
    text-align: justify;
    font-size: medium;
    margin: 1rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 4rem;
    justify-content: space-around;
    margin: 2rem;
}

.grid-item{
    width: 500px;
    height: 600px;
    background-color: rgb(255, 233, 188);
    border-radius: 2rem;
}
.project-image{
    width: 100%;
    height: auto;
    border-radius: 2rem 2rem 0 0;
    
}
.project-name{
    text-align: center;

}
.project-detials{
    text-align: justify;
    margin: 1rem;

}
.project-team{
    text-align: center;

}

.Gallery{
    display: flex;
    margin: 5rem;
    justify-content: space-around;
    height: auto;
    width: 1000px;
    gap: 10rem;
}
.photo{
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    height: 300px;
    width: auto;
    gap: 2rem;
}